@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

@layer components {
	.sidebar-icon{
		@apply relative flex items-center justify-center
		h-16 w-16 mb-4 mx-auto mt-4
    bg-gray-700 text-amber-600
    hover:bg-amber-800
    rounded-2xl hover:rounded-xl
    transition-all duration-100 ease-linear
    cursor-pointer;
	}

  .sidebar-logout{
    @apply relative flex items-center justify-center
		h-16 w-16 mb-2 mx-auto mt-8 top-36
    bg-gray-700 text-amber-600
    hover:bg-amber-800
    rounded-2xl hover:rounded-xl
    transition-all duration-100 ease-linear
    cursor-pointer;
  }

  .sidebar-profile{
    @apply relative flex items-center justify-center
		h-16 w-16 mx-auto mt-36 mb-36
    bg-gray-700 text-amber-600
    hover:bg-amber-800
    rounded-2xl hover:rounded-xl
    transition-all duration-100 ease-linear
    cursor-pointer;
  }

  .sidebar-tooltip{
    @apply absolute w-auto p-2 m-2 min-w-max left-24
    rounded-md shadow-md
    text-white bg-gray-900
    text-xs font-bold
    transition-all duration-200 scale-0 origin-left;
  }

  .sidebar-tooltipText{
    @apply absolute w-auto p-2 m-2 min-w-max left-48
    max-w-2xl
    text-black bg-white 
    border-solid border-2 border-gray-900 rounded-md
    text-xs font-normal
    transition-all  duration-300 scale-0;
  }

  .sidebar-invisiLink{
    @apply fixed w-72 h-10
    bg-blue-400
    left-24
    scale-0
    opacity-0;
  }

  .logo-bar-icon{
		@apply absolute flex items-center justify-center
		h-14 w-14 md:h-16 md:w-16 mx-auto top-4 right-4
    bg-gray-700 text-amber-600
    hover:bg-amber-800
    rounded-2xl hover:rounded-xl
    transition-all duration-100 ease-linear
    cursor-pointer;
	}

  .logo-menu-icon{
		@apply absolute flex items-center justify-center
    visible md:invisible
		h-14 w-14 md:h-16 md:w-16 mx-auto top-4 left-4
    bg-gray-700 text-amber-600
    hover:bg-amber-800
    rounded-2xl hover:rounded-xl
    transition-all duration-100 ease-linear
    cursor-pointer;
	}
}