@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

@layer components {
	.sidebar-icon{
		@apply relative flex items-center justify-center
		h-16 w-16 top-32 ml-4
    bg-gray-700 text-amber-600
    hover:bg-amber-800
    rounded-2xl hover:rounded-xl
    transition-all duration-100 ease-linear
    cursor-pointer;
	}

  .sidebar-invisiLink{
    @apply fixed w-72 h-10
    bg-blue-400
    left-24
    scale-0
    opacity-0;
  }

  .logo-bar-icon{
		@apply absolute flex items-center justify-center
		h-14 w-14 md:h-16 md:w-16 mx-auto top-4 right-6
    bg-gray-700 text-amber-600
    hover:bg-amber-800
    rounded-2xl hover:rounded-xl
    transition-all duration-100 ease-linear
    cursor-pointer;
	}

  .logo-menu-icon{
		@apply absolute flex items-center justify-center
    visible lg:invisible
		h-14 w-14 md:h-16 md:w-16 mx-auto top-4 left-4
    bg-gray-700 text-amber-600
    hover:bg-amber-800
    rounded-2xl hover:rounded-xl
    transition-all duration-100 ease-linear
    cursor-pointer;
	}
}